{% extends 'base.html' %}

<div class="con1">
        <div class="container-fluid">
            <h2>Statistics</h2>
        </div>
    </div>
{% block stats %} STATISTICS {% endblock %}


{% block sidebar %}
         {% include 'inc/_sidebar.html'%}
{% endblock %}


{% block articles %}
     <div class="col-8">
    <div class="container mt-3">
        {{ articles.count }}
            <div class="row">
            <div class="col-md-12">
                 {% for item in articles %}
            </div>
                <div class="card mb-3">
                <div class="card-header">
                <p>Category: <a href="{{ item.category.get_absolute_url }}"> {{ item.category }} </a> </p>
                </div>
                <div class="card-body">
                    <div class="media">
                        {% if item.photo %}
                        <img src="{{ item.photo.url }}" alt="" style="border: 2px solid black; display: block;
margin-left: auto; margin-right: auto; width: 80%; height: 250px">
                        {% else %}
        <img src="https://www.pngitem.com/pimgs/m/297-2978988_blogging-and-content-the-transparent-blog-png-png.png" width="150px" style="border: 2px solid black;" alt="">
                        {% endif %}
                    </div>
                    <br>
                        <h5 class="card-title"> {{ item.title }} </h5>
                        <p>{{ item.content|linebreaks|truncatewords:30 }}</p>
                        <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read More...</a>
                </div>

                <div class="card-footer text-muted">
                  Publish Date: {{ item.created_at|date:"d-m-Y" }}
                </div>
                </div>
             </div>
        </div>
     </div>


    {% endfor %}
{% endblock %}



