<body class="body">

    <header>
      <div id="top-jumbotron" class="jumbotron text-center">
        <div class="header">
          <h1>COVID-19 Forecasting in Kazakhstan</h1>
        </div>
      </div>
    </header>

    <nav id="top-navbar" class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'home' %}" id="a-home">Home</a></li>
              <li><a href="#">Statistics</a></li>
              <li><a href="#con3">Articles</a></li>
              <li><a href="#con5">Safety first</a></li>
              <li><a href="#con7">F.A.Q.</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Sign Up</a></li>
              <li><a href="#">Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
