{% load articles_tags %}

    <div class="col-sm-4">
                <div class="col-md-4 mb-8">
                  <ul class="nav nav-pills flex-column" id="row-4">
                      {% get_categories as categories %}
                      {% for item in categories %}
{#                    <li class="active"><a data-toggle="tab" href="">Category 1</a></li>       #}
                    <li><a data-toggle="tab" href="{% url 'category' item.pk %}"> {{ item.title }} </a></li>
{#                    <li><a data-toggle="tab" href="#art3">Category 3</a></li>#}
                      {% endfor %}
                  </ul>
                </div>
              </div>

