      <!-- STATISTICS -->

    <div class="con1">
        <div class="container-fluid">
            <h2>Statistics</h2>
        </div>
    </div>

   <div class="con2">
        <div class="container-fluid">
          <div class="row">

              <div class="col-sm-6">
                <table>
          <tr>
              <td>Regions</td>
              <td>Infected with PVR+</td>
              <td>Infected with PVR-</td>
              <td>Recovered</td>
              <td>Expected Infected</td>
              <td>Expected Recovered</td>
          </tr>

      </table>
              </div>

              <div class="col-sm-6">
                <h1>Graph</h1>
                <br>
                <div style="height: 400px;">Potom udalim</div>
              </div>

          </div>
        </div>
      </div>