      <!-- STATISTICS -->

  <div class="d-flex flex-row" style="width: 100%;">
  <div class="p-2">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Regions</th>
      <th scope="col">Infected</th>
      <th scope="col">Recovered</th>
      <th scope="col">X Infected</th>
      <th scope="col">X Recovered</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>NurSultan city</td>
      <td>290</td>
      <td>199</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Almaty City</td>
      <td>252</td>
      <td>521</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Shymkent city</td>
      <td>52</td>
      <td>168</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Akmola</td>
      <td>126</td>
      <td>174</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Aqtobe</td>
      <td>41</td>
      <td>104</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Almaty</td>
      <td>102</td>
      <td>464</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Atyrau</td>
      <td>85</td>
      <td>25</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>VKO</td>
      <td>92</td>
      <td>166</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Zhambyl</td>
      <td>28</td>
      <td>27</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>3KO</td>
      <td>99</td>
      <td>39</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>Qaranganda</td>
      <td>260</td>
      <td>436</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>Qostanay</td>
      <td>43</td>
      <td>72</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>Qyzylorda</td>
      <td>19</td>
      <td>29</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>Mangystau</td>
      <td>36</td>
      <td>51</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td>Pavlodar</td>
      <td>96</td>
      <td>132</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">16</th>
      <td>CKO</td>
      <td>35</td>
      <td>24</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">17</th>
      <td>Turkestan</td>
      <td>32</td>
      <td>27</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
  </div>
  <div class="p-2">Graph</div>
</div>